index.css body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(187deg, #000000, #003288);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
}

h2 {
  margin: 0;
  margin-bottom: 16px;
}

p {
  margin: 0;
}

.widget-container {
  text-align: center;
  max-width: 400px;
  width: 90%;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(135deg, #849abe, #214176);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.app-title {
  font-size: 2rem;
  font-weight: bold;
  color: #edf2f7;
  margin-bottom: 15px;
}

.search-container {
}

.search-input {
  width: 100%;
  padding: 10px 12px;
  font-size: 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #f0f7ed;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.search-input:focus {
  border-color: #63b3ed;
  box-shadow: 0 0 8px rgba(99, 179, 237, 0.5);
}
.search-input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.weather-card {
  /* background: linear-gradient(135deg, #98aacb, #103d89); */
  padding: 15px;
  border-radius: 10px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
}

.weather-icon {
  width: 60px;
  height: 60px;
}

.temperature {
  font-size: 2.5rem;
  color: #63b3ed;
  margin: 8px 0;
  font-weight: bold;
}

.condition {
  font-size: 1rem;
  font-weight: bold;
  margin: 8px 0;
  color: #e2e8f0;
}

.weather-details {
  font-size: 0.8rem;
  color: #cbd5e0;
  margin-top: 8px;
  line-height: 1.4;
}
